<div class="m-3">
  <div *ngIf="!isRequestDisplay">
    <h4 class="text-center">Request a Book</h4>
    <div class="d-flex justify-content-around">
      <p class="d-flex">
        <label class="form-label m-2">Title:</label>
        <input type="text" [(ngModel)]="title" class="form-control m-2" />

        <label class="form-label m-2">Author:</label>
        <input type="text" [(ngModel)]="author" class="form-control m-2" />

        <button
          (click)="SearchBook()"
          [disabled]="!title && !author"
          class="btn btn-outline-dark btn-sm"
        >
          Search
        </button>
      </p>
      <p>
        <button
          (click)="DisplayRequestHistory()"
          class="btn btn-outline-dark btn-sm"
        >
          Display Request History
        </button>
      </p>
    </div>
    <!--span class="success">{{ message }}</!--span
    ><span-- class="errors">{{ errorMessage }}</span-->
    <div *ngFor="let book of bookList" class="d-flex m-auto w-75">
      <div class="m-2 w-25">
        <img [src]="book.imageLinks" />
      </div>
      <div class="m-2 w-50">
        <h5>{{ book.title }}</h5>
        <p class="fs-6">{{ book.authors }}</p>
        <p class="fs-6">Language - {{ book.language | languageCode }}</p>
      </div>
      <div class="w-25">
        <button (click)="AddRequest(book)" class="btn btn-outline-dark btn-sm">
          Request
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isRequestDisplay" class="m-3 text-end">
    <h4 class="text-center">Request History</h4>
    <button
      (click)="isRequestDisplay = !isRequestDisplay"
      class="btn btn-outline-dark btn-sm"
    >
      Back
    </button>

    <table *ngIf="requestList.length" class="table table-bordered w-75 m-auto">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of requestList">
          <th scope="row">{{ req.id }}</th>
          <td>{{ req.title }}</td>
          <td>{{ req.author }}</td>
          <td>{{ req.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="hidden-div-message" *ngIf="message || errorMessage">
  <p class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="alert alert-success" *ngIf="message">{{ message }}</p>
  <button (click)="Clear()" class="btn btn-outline-dark btn-sm">Ok</button>
</div>
<div class="overlay-div" *ngIf="message || errorMessage"></div>
