div {
  background-image: url("https://cdni.iconscout.com/illustration/premium/thumb/cat-with-404-flag-illustration-download-in-svg-png-gif-file-formats--comic-error-page-not-found-pack-seo-web-illustrations-7703208.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}
