<div>
  <h3>Order Total</h3>
  <table>
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Book Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sub Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.book?.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.book?.price }}</td>
        <td>{{ item.quantity * item.book?.price! | currency : "USD" }}</td>
      </tr>
      <tr>
        <td colspan="4">Sub Total</td>
        <td>{{ sum | currency : "USD" }}</td>
      </tr>
      <tr>
        <td colspan="4">Shipping & Handling</td>
        <td>{{ 7.99 | currency : "USD" }}</td>
      </tr>
      <tr>
        <td colspan="4">Taxes</td>
        <td>{{ (sum + 7.99) * 0.05 | currency : "USD" }}</td>
      </tr>
      <tr>
        <td colspan="4">Total</td>
        <td>{{ sum + 7.99 + (sum + 7.99) * 0.05 | currency : "USD" }}</td>
      </tr>
    </tbody>
  </table>

  <p><button>Place Order</button></p>
</div>
