.flex-container {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-content: baseline;
}

.flex-container div {
  align-content: center;
  text-align: center;
}

table {
  width: 50vw;
}
