<div class="form-container-center">
  <form [formGroup]="addressForm">
    <fieldset>
      <legend>Shipping Address</legend>
      <div>
        <label><span class="required">*</span>Address Line 1</label>
        <input type="text" formControlName="addressLine1" required />
      </div>
      <div>
        <label>Address Line 2</label>
        <input type="text" formControlName="addressLine2" />
      </div>
      <div>
        <label><span class="required">*</span>City</label>
        <input type="text" formControlName="city" required />
      </div>
      <div>
        <label><span class="required">*</span>State</label>
        <input type="text" formControlName="state" required />
      </div>
      <div>
        <label><span class="required">*</span>Zip Code</label>
        <input type="text" formControlName="zip" required />
      </div>
      <div>
        <label><span class="required">*</span>Country</label>
        <input type="text" formControlName="country" required />
      </div>
      <p
        *ngIf="addressForm.get('addressLine1')?.touched && addressForm.get('addressLine1')?.errors?.['required']"
        class="errors"
      >
        Address Line 1 is required
      </p>
      <p
        *ngIf="addressForm.get('city')?.touched && addressForm.get('city')?.errors?.['required']"
        class="errors"
      >
        City is required
      </p>
      <p
        *ngIf="addressForm.get('state')?.touched && addressForm.get('state')?.errors?.['required']"
        class="errors"
      >
        State is required
      </p>
      <p
        *ngIf="addressForm.get('zip')?.touched && addressForm.get('zip')?.errors?.['required']"
        class="errors"
      >
        Zip Code is required
      </p>
      <p
        *ngIf="addressForm.get('country')?.touched && addressForm.get('country')?.errors?.['required']"
        class="errors"
      >
        Country is required
      </p>
      <p *ngIf="errorMessage" class="errors">{{ errorMessage }}</p>
      <p *ngIf="message">{{ message }}</p>
      <button
        type="submit"
        [disabled]="!addressForm.valid"
        (click)="SaveAddress()"
      >
        Save
      </button>
      <button type="button" (click)="Cancel()">Cancel</button>
    </fieldset>
  </form>
  <div *ngIf="newAddress">
    <h5>Recommended Address</h5>
    <p>Address Line 1: {{ newAddress.addressLine1 }}</p>
    <p>Address Line 2: {{ newAddress.addressLine2 }}</p>
    <p>City: {{ newAddress.city }}</p>
    <p>State: {{ newAddress.state }}</p>
    <p>zip: {{ newAddress.zip }}</p>
    <p>Country: {{ newAddress.country }}</p>
  </div>
</div>
