<div class="d-flex flex-wrap m-3">
  <div class="w-50 m-2">
    <h4 class="text-center">Order Total</h4>
    <table class="table m-2">
      <thead>
        <tr>
          <th scope="col">Sr. No.</th>
          <th scope="col">Book Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Sub Total</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of cartItems; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.book?.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.book?.price }}</td>
          <td>{{ item.quantity * item.book?.price! | currency : "USD" }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">Sub Total</td>
          <td>{{ sum | currency : "USD" }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">Shipping & Handling</td>
          <td>{{ 7.99 | currency : "USD" }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">Taxes</td>
          <td>{{ (sum + 7.99) * taxRate | currency : "USD" }}</td>
        </tr>
        <tr>
          <td colspan="4" class="text-end">Total</td>
          <td>{{ sum + 7.99 + (sum + 7.99) * taxRate | currency : "USD" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="w-25 m-2">
    <h4 class="text-center">Shipping To</h4>
    <div class="text-center m-2 p-2 border border-dark rounded">
      <h5>{{ address?.name }}</h5>
      <p>
        {{ address?.addressLine1 }}
        <span *ngIf="address?.addressLine2">{{ address?.addressLine2 }}</span>
      </p>
      <p>
        {{ address?.city }}, {{ address?.state }} , {{ address?.country }}:
        {{ address?.zip }}
      </p>
      <p>
        <button
          (click)="PlaceOrder(0)"
          [disabled]="message"
          class="btn btn-outline-dark btn-sm"
        >
          Pay Now
        </button>

        <button
          (click)="PlaceOrder(1)"
          [disabled]="message"
          class="btn btn-outline-dark btn-sm"
        >
          Pay Later
        </button>
      </p>
    </div>
  </div>
</div>
<div class="hidden-div-message" *ngIf="message || errorMessage">
  <p class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
  <p class="alert alert-success" *ngIf="message">{{ message }}</p>
  <button (click)="Clear()" class="btn btn-outline-dark btn-sm">Ok</button>
</div>
<div class="overlay-div" *ngIf="message || errorMessage"></div>
