table,
tr,
td,
th {
  border: 2px solid black;
  border-collapse: collapse;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-container div {
  text-align: center;
}

img {
  width: 50px;
}
