header {
  border-bottom: 2px solid black;
  margin: 0px;
  position: relative;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: rgb(117, 117, 176);
  border-radius: 5px;
  color: white;
}

.active {
  background-color: rgb(117, 148, 176);
  border-radius: 5px;
  color: white;
}

nav {
  margin: 0px;
}

.location {
  position: absolute;
  top: -30px;
  right: 20px;
  display: flex;
  margin: 0px;
  width: 250px;
  right: 200px;
}

.location img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0px;
}

.location p {
  margin: 0px;
  font-size: small;
}

.location:hover {
  color: brown;
  /* border: 2px solid rgb(53, 51, 51);*/
}

.hidden-div {
  position: absolute;
  top: 200px;
  right: 40%;
  z-index: 51;
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: white;
  text-align: center;
  left: 40%;
}

.display-top {
  top: 30px;
}
