<header>
  <h1>Welcome to Amazing Books</h1>
  <div class="location display-right" (click)="isUpdateCity = true">
    <img src="https://static.thenounproject.com/png/333603-200.png" />
    <div>
      <p>Delivering to {{ city }}, {{ state }}</p>
      <p>Update location</p>
    </div>
  </div>
  <nav class="display-left display-top">
    <a routerLink="list-books" routerLinkActive="active">Home</a>
    <span *ngIf="isLoggedIn"
      ><a routerLink="order" routerLinkActive="active">Order History</a>
      <a routerLink="request-book" routerLinkActive="active">Request a book</a>
      <a
        routerLink="procure-book"
        routerLinkActive="active"
        *ngIf="user && user.role == 'Admin'"
        >Procurement List</a
      >
    </span>
  </nav>
  <nav class="display-right display-top">
    <a routerLink="cart" routerLinkActive="active">
      Cart<sup *ngIf="quantity != 0">{{ quantity }}</sup></a
    >
    <span *ngIf="!isLoggedIn"
      ><a routerLink="login" routerLinkActive="active">Login</a
      ><a routerLink="signup" routerLinkActive="active">Sign up</a></span
    >
    <span *ngIf="isLoggedIn">
      <a href="#" routerLinkActive="active" (click)="Logout()">Logout</a>
    </span>
  </nav>
</header>
<div class="overlay-div" *ngIf="isUpdateCity"></div>
<div *ngIf="isUpdateCity" class="hidden-div">
  <label> City </label><input type="text" [(ngModel)]="city" /><br /><label
    >State</label
  ><input type="text" [(ngModel)]="state" />
  <p>
    <button (click)="UpdateLocation()">Save</button
    ><button (click)="CancelLocation()">Close</button>
  </p>
  <p class="errors">{{ errorMessage }}</p>
</div>

<router-outlet (activate)="OnActivate($event)"></router-outlet>
