<div class="m-3">
  <h4 class="text-center">Order History</h4>
  <div class="d-flex justify-content-around">
    <div class="d-flex">
      <label class="form-label m-2"> Order Id:</label>
      <input
        type="text"
        [(ngModel)]="orderId"
        pattern="^[0-9\s]*$"
        #filter="ngModel"
        value=""
        class="form-control m-2"
      />
      <button
        (click)="SearchOrder()"
        class="btn btn-outline-dark btn-sm"
        [disabled]="filter.touched && filter.errors?.['pattern']"
      >
        Search</button
      ><button (click)="ClearFilter()" class="btn btn-outline-dark btn-sm">
        Clear
      </button>
      <span *ngIf="filter.errors" class="errors"
        >Enter a valid Order number</span
      >
    </div>
    <div class="d-flex">
      <button
        (click)="GetPrev()"
        [disabled]="pages.length == 0"
        class="btn btn-outline-dark btn-sm"
      >
        Prev</button
      ><button
        (click)="GetNext()"
        [disabled]="orderList.length < 20"
        class="btn btn-outline-dark btn-sm"
      >
        Next
      </button>
    </div>
  </div>
  <div class="m-3">
    <table class="table w-75 m-auto">
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Order Date</th>
          <th scope="col">Status</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Payment Status</th>
          <th scope="col">Shipped To</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr
          *ngFor="let order of orderList"
          [routerLink]="'order-details/' + order.id"
        >
          <td scope="row">{{ order.id }}</td>
          <td>{{ order.orderDate | date : "mediumDate" }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.total }}</td>
          <td>{{ order.paymentStatus }}</td>
          <td>{{ order.fkshippingAddressNavigation?.name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="hidden-div-message" *ngIf="message || errorMessage">
  <p>{{ errorMessage }} {{ message }}</p>
  <button (click)="Clear()">Ok</button>
</div>
<div class="overlay-div" *ngIf="message || errorMessage"></div>
