.form-control {
  width: 15em;
  height: 2em;
  margin: 5px;
}

.card {
  width: 210px;
  height: 320px;
}

.card:hover {
  background-color: rgb(121, 169, 121);
}

.card-img-top {
  width: 190px;
  height: 200px;
}
.card h4,
.card p {
  overflow: hidden;
  height: 2em;
}
