<div class="search-container">
  <div class="flex-container spacearound">
    <div>
      <label> Book Name:</label>
      <input type="text" [(ngModel)]="name" />
      <label> Author:</label>
      <input type="text" [(ngModel)]="author" />
      <button (click)="SearchList()">Search</button>
      <button (click)="Clear()">Clear</button>
    </div>
    <div>
      <button (click)="GetPrev()" [disabled]="pages.length == 0">Prev</button
      ><button (click)="GetNext()" [disabled]="books.length < 18">Next</button>
    </div>
  </div>
</div>
<div class="flex-container">
  <div
    *ngFor="let book of books"
    class="card"
    [routerLink]="'display-book/' + book.id"
  >
    <h4>{{ book.name }}</h4>
    <img [src]="book.imgUrl" [alt]="book.name" />
    <p>{{ book.author }}</p>
    <p>{{ book.price | currency : "USD" }}</p>
  </div>
</div>
<div class="hidden-div-message" *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
  <button (click)="errorMessage = ''">Ok</button>
</div>
<div class="overlay-div" *ngIf="errorMessage"></div>
