img {
  width: 25vw;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.details {
  width: 45vw;
}

h2 {
  text-align: left;
}

.booktype {
  color: gray;
}
.action {
  width: 15vw;
}
input {
  width: 50px;
}
